body{
    background-color: #891652;
}
.move{
   margin-left: 100px;
}
.para{
   
    
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    background-color: black;
    color:#EABE6C;
}
.images{
    margin-left: 750px;
    width: 300px;
    height: 300px;
}
.buttongroup{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    
    display:flex;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}

.yes{
   
    position: relative;
    width: 100px;
    height: 40px;
    background-color:#EABE6C ;
    color: #891652;
    border-radius: 7px;
    font-weight: 900;
    border: 2px solid #EABE6C;
}
.buttongroup--no{
   
    
   position: relative;
    width: 100px;
    height: 40px;
    background-color:#EABE6C ;
    color: #891652; 
    border-radius: 7px;
    font-weight: 900;
    border: 2px solid #EABE6C;
}
.move{
    
    position: relative;
    margin-left: 200px; 
}
